<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="register-form">
        <h2> Registro con Node Js</h2>
        <form action="register" method="POST">

            <label for="user"> Usuario </label>
              <input type="text" placeholder="Usuario" name="user" required>

              <label for="user"> Nombre y Apellido </label>
              <input type="text" placeholder="Nombre y Apellido" name="name" required>

              <label for="user"> Rol </label>
              <select name="rol" id="rol" class="select-css">
                <option type="text" value="Admin" selected >   Admin </option>
                <option type="text" value="Data Entry" >   Data Entry </option>
              </select>

              <label for="pass"> Password</label>
              <input type="password" name="pass" placeholder="Password" required>

                <input type="submit" class="btn-guardar" value="Guardar">
          </form>
        <a href="/login" class="btn-cancelar">Cancelar</a>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text:'<%= alertMessage %>',
                icon:'<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %> ,
                timer: <%= timer %>
            }).then(()=>{
                window.location='<%=ruta %>'
            })
        </script>
<% } %>
</body>


</html>